* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background: #fff;
    font: 14px/1.5 Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

select {
    margin: 0 10px 10px;
}
